.Card {
  --card-header-padding-right: max(var(--safe-area-inset-right),8px);
  display: flex;
  flex-direction: column;
  background: #212121;
  border: var(--card-border-width) solid #ffffff24;
  --card-border-width: 1px;
  border-radius: var(--card-border-radius);
  box-shadow: 0 8px 15px #00000050;
  overflow: hidden;
  z-index: var(--card-z-index);
  --card-z-index: 1;
  transition: var(--card-transition-duration);
  --card-transition-duration: calc(var(--main-transition-duration) * 0.55);
  transition-property: visibility, opacity, transform;
}

.Card:not([data-active]) {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.Card[data-active] {
  visibility: visible;
  opacity: 1;
  z-index: calc(var(--card-z-index) + 1);
}

.Card:not([data-type="dialog"]) {
  margin: var(--margin) max(var(--safe-area-inset-right),var(--margin)) max(var(--safe-area-inset-bottom),var(--margin)) max(var(--safe-area-inset-left),var(--margin));
}

.Card[data-type="alert"] {
  --margin: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  --card-border-radius: 10px;
  pointer-events: none;
  --card-z-index: 5;
}

.Card[data-type="alert"]:not([data-active]) {
  transform: translateX(calc(100% + var(--margin) * 2));
}

.Card[data-type="widget"] {
  --margin: 8px;
  position: absolute;
  right: 0;
  top: 0;
  --card-border-radius: 12px;
  transform-origin: center top;
}

.Card[data-type="widget"]:not([data-active]) {
  transform: scaleY(0.25);
}

.Card[data-type="widget"][data-minimize-change] {
  transition-property: margin-right, margin-top, border-top-right-radius, border-bottom-right-radius, box-shadow, visibility, opacity, transform;
}

.Card[data-type="widget"].minimize {
  margin-right: calc(var(--card-border-width) * -1);
  margin-top: 3px;
  --card-border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 4px 7px #00000050;
}

.Card[data-type="dialog"] {
  position: absolute;
  --card-border-radius: 14px;
  --card-z-index: 3;
}

.Card[data-type="dialog"]:not([data-active]) {
  transform: scale(0.5);
}

.Card .header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff12;
  border-bottom: var(--card-header-border-width) solid #000000;
  --card-header-border-width: 1px;
}

.Card[data-type="widget"][data-minimize-change] .header {
  background-clip: content-box;
  transition: var(--card-transition-duration);
  transition-property: margin-bottom, border-color;
}

.Card[data-type="widget"].minimize .header {
  margin-bottom: calc(var(--card-header-border-width) * -1);
  border-color: transparent;
}

.Card .header .card-back {
  margin-right: auto;
  padding: 10px;
  display: flex;
  background: none;
  border: none;
  outline: none;
}

.Card .header:not([data-card-parent]) .card-back {
  display: none;
}

.Card .header .card-back:where(:hover,:active,:focus-visible) {
  color: #ffffff;
  background: #ffffff24;
}

.Card .header .card-back svg {
  width: 12px;
  height: 12px;
  /* aspect-ratio: 1 / 1; */
  fill: currentColor;
}

.Card .header .icon {
  margin: 8px;
  margin-left: 12px;
  margin-right: 0;
  width: 20px;
  height: 20px;
  /* aspect-ratio: 1 / 1; */
}

.Card .header .heading {
  white-space: pre;
  z-index: -1;
}

.Card:not([data-type="alert"]) .header .heading {
  position: absolute;
}

.Card[data-type="alert"] .header .heading {
  margin: 0 auto;
}

.Card[data-type="widget"][data-minimize-change] .header .heading {
  transform-origin: calc(50% - calc(var(--card-minimize-width) + var(--card-header-padding-right)) * 0.5) center;
  transition: var(--card-transition-duration);
  transition-property: visibility, opacity, transform;
}

.Card[data-type="widget"].minimize .header .heading {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

.Card[data-type="dialog"] .header .heading {
  font-size: 16px;
}

.Card .header .card-controls {
  margin-left: auto;
  display: flex;
}

.Card[data-type="alert"] .header .card-controls {
  display: none;
}

.Card .header .card-controls .control {
  padding: var(--control-padding,0px);
  display: flex;
  background: var(--control-background);
  border: none;
  outline: none;
  --control-padding: 10px;
  --control-background: none;
}

.Card .header .card-controls .control:where(:hover,:active,:focus-visible) {
  color: #ffffff;
  --control-background: #ffffff24;
}

.Card .header .card-controls .control[data-control="close"]:where(:hover,:active,:focus-visible) {
  --control-background: #cc2a24;
}

.Card:not([data-type="widget"]) .header .card-controls .control[data-control="minimize"] {
  display: none;
}

.Card[data-type="widget"].minimize .header .card-controls .control {
  --control-padding: 6px;
}

.Card[data-type="widget"].minimize .header .card-controls .control[data-control="minimize"] {
  border-radius: calc(var(--card-border-radius) - var(--card-border-width));
}

.Card[data-type="widget"].minimize .header .card-controls .control[data-control="close"] {
  margin-left: var(--card-header-padding-right);
  margin-right: calc(var(--card-minimize-width) * -1);
  visibility: hidden;
  opacity: 0;
}

.Card[data-type="widget"][data-minimize-change] .header .card-controls .control {
  transition: var(--card-transition-duration);
  transition-property: padding;
}

.Card[data-type="widget"][data-minimize-change] .header .card-controls .control[data-control="minimize"] {
  transition-property: padding, border-radius;
}

.Card[data-type="widget"][data-minimize-change] .header .card-controls .control[data-control="close"] {
  transition-property: margin-left, margin-right, padding, visibility, opacity;
}

.Card .header .card-controls .control svg {
  width: 12px;
  height: 12px;
  /* aspect-ratio: 1 / 1; */
  fill: currentColor;
}

.Card .header .card-controls .control[data-control="close"]:hover svg {
  color: #ffffff;
}

.Card[data-type="widget"].minimize .header .card-controls .control[data-control="minimize"] svg {
  transform: rotateY(180deg);
}

.Card[data-type="widget"][data-minimize-change] .header .card-controls .control[data-control="close"] svg {
  transition: transform var(--card-transition-duration);
}

.Card[data-type="widget"].minimize .header .card-controls .control[data-control="close"] svg {
  transform: scale(0);
}

.Card .main {
  display: flex;
  flex-direction: column;
}

.Card:not([data-type="widget"]) .main {
  padding: 16px;
  gap: 16px;
}

.Card[data-type="widget"] .main {
  padding: 14px;
  gap: 14px;
  transform-origin: calc(100% - calc(var(--card-minimize-width) + var(--card-header-padding-right)) * 0.5) top;
}

.Card[data-type="widget"][data-minimize-change] .main {
  transition: var(--card-transition-duration);
  transition-property: margin-left, margin-bottom, visibility, opacity, transform;
}

.Card[data-type="widget"].minimize .main {
  margin-left: calc(calc(var(--card-main-width) - var(--card-header-padding-right)) * -1 + var(--card-minimize-width));
  margin-bottom: calc(var(--card-main-height) * -1);
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

.Card .main .content {
  display: flex;
  justify-content: space-around;
}

.Card .main .content .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card:not([data-type="widget"]) .main .content .item {
  gap: 16px;
}

.Card[data-type="widget"] .main .content .item {
  gap: 14px;
}

.Card .main .content .item.start {
  align-items: flex-start;
}

.Card .options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card:not([data-type="widget"]) .options {
  gap: 16px;
}

.Card[data-type="widget"] .options {
  gap: 14px;
}

.Card .main button {
  padding: 2px 8px;
  min-width: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #444444;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 1px 2px #00000028;
  outline: none;
  transition: var(--transition-fast);
  transition-property: color, background-color, border-color, border-radius;
}

.Card .main button:where(:hover,:active,:focus-visible) {
  color: #ffffff;
  background: #4f4f4f;
}

.Card .main button:focus-visible {
  border-color: #c0c0c0;
}

.Card .main button.warning:where(:hover,:active,:focus-visible) {
  background: #b12f25;
}

.Card .options button > img {
  width: 16px;
  height: 16px;
  /* aspect-ratio: 1 / 1; */
}

.Card .options button > svg {
  width: 12px;
  height: 12px;
  /* aspect-ratio: 1 / 1; */
  fill: currentColor;
}

.Card num-text {
  width: 32ch;
  height: 12ch;
  --background: #2d2d2d;
  border-radius: 6px;
}

.Card num-text.expand {
  height: 20ch;
}

.Card num-text::part(container)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0 2px 3px #00000090 inset;
  pointer-events: none;
  z-index: 2;
}

.Card input:is([data-type="text"],[data-type="url"]) {
  border-radius: 6px;
  box-shadow: 0 2px 3px #00000090 inset;
}