*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --safe-area-inset-left: env(safe-area-inset-left,0px);
  --safe-area-inset-right: env(safe-area-inset-right,0px);
  --safe-area-inset-top: env(safe-area-inset-top,0px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom,0px);

  --titlebar-area-inset-top: env(titlebar-area-y,0px);
  --titlebar-area-inset-width-left: env(titlebar-area-x,0px);
  --titlebar-area-inset-width-right: calc(100vw - env(titlebar-area-width,100vw) - var(--titlebar-area-inset-width-left));
  --titlebar-area-inset-height: env(titlebar-area-height,0px);

  --font-family-interface: -apple-system, BlinkMacSystemFont, "Rubik", sans-serif;
  --font-family-code: ui-monospace, "Noto Sans Mono", "Cousine", monospace;
  --line-height-code: 1.4;

  --transition-fast: 80ms;

  --selection-color: inherit;
  --selection-background: #75b1ff38;
  --selection-background-inactive: #a1a1a138;

  --scrollbar-width: 16px;
  --scrollbar-height: 16px;
  --scrollbar-border-width: 4px;

  @media not (display-mode: window-controls-overlay) {
    --titlebar-area-inset-top: 0px;
    --titlebar-area-inset-width-left: 0px;
    --titlebar-area-inset-width-right: 0px;
    --titlebar-area-inset-height: 0px;
  }

  &:-moz-window-inactive {
    --selection-background: var(--selection-background-inactive);
  }
}

html {
  width: 100%;
  height: calc(100% + var(--safe-area-inset-top));
  background: #121212;
  overflow: hidden;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #cccccc;
  font-size: 14px;
  font-family: var(--font-family-interface);
  background: inherit;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1e1e1e;
    z-index: 4;
    transition: opacity 250ms;

    :root:not(.startup-fade) & {
      opacity: 0;
      pointer-events: none;
    }
  }

  &.split {
    &.horizontal[data-scaling-change] {
      cursor: col-resize;
    }

    &.vertical[data-scaling-change] {
      cursor: row-resize;
    }
  }
}

#root {
  display: contents;
}

button {
  color: inherit;
  font: inherit;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

num-text, .Editor {
  --padding: 8px;
  caret-color: var(--color);
  font-family: var(--font-family-code);
  line-height: var(--line-height-code);
  --selection-background: inherit;
  --selection-background-inactive: inherit;
  background: var(--background);
  --background: #2d2d2d;

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: #808080 var(--background);
  }

  &::part(container) {
    border-radius: inherit;
  }
}

input:is([type="text"],[type="url"]) {
  padding: 8px;
  color: #eaeaea;
  caret-color: #eaeaea;
  font-size: 13px;
  font-family: var(--font-family-code);
  line-height: var(--line-height-code);
  background: #2d2d2d;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

input[type="url"]:invalid {
  color: #ffa600;
  caret-color: #ffa600;
  background: #362f21;
}

input[type="url"]:valid:not(:placeholder-shown):focus {
  color: #60df20;
  caret-color: #60df20;
  background: #2a3126;
}

::placeholder {
  color: inherit;
  opacity: 0.55;
  white-space: pre-wrap;
}

::selection {
  color: var(--selection-color);
  background: var(--selection-background);
}

::selection:window-inactive {
  background: var(--selection-background-inactive);
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: var(--tab-border-width) solid transparent;
  --tab-border-width: 1px;
  border-radius: calc(6px + var(--tab-border-width));
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tab .option {
  margin: calc(var(--option-border-width) * -1);
  padding: 4px;
  display: flex;
  align-items: center;
  background: none;
  background-clip: padding-box;
  border: var(--option-border-width) solid transparent;
  --option-border-width: 4px;
  border-radius: calc(4px + var(--option-border-width));
  outline: none;
}

.tab .option:where(:hover,:active,:focus-visible) {
  color: #ffffff;
  background-color: #ffffff24;
}

.tab .option svg {
  width: 8px;
  height: 8px;
  /* aspect-ratio: 1 / 1; */
  fill: currentColor;
}

menu-drop {
  color: inherit;
  font: inherit;
  line-height: 16px;
}

menu-drop {
  --list-padding-x: 0px;
  --list-padding-y: 6px;
  --list-border-width: 1px;
  --option-padding-x: 11px;
  --option-padding-y: 3px;
  --option-icon-gap: 10px;
  --option-selected-icon-width: 5px;
}

menu-drop::part(opener) {
  border: none;
  outline: none;
}

menu-drop::part(body) {
  font-size: 13px;
}

menu-drop::part(list) {
  --list-position-x: calc(100% + max(0px,var(--list-border-width)));
  background: #2e2e2e;
  border: var(--list-border-width) solid transparent;
  border-radius: calc(var(--list-padding-y) + var(--list-border-width));
  box-shadow: 0 5px 10px #00000060;
  visibility: hidden;
  opacity: 0.25;
  transform: scale(0.5);
  transition-property: opacity, transform;
}

menu-drop::part(list left) {
  transform-origin: left calc(var(--list-position-y) * -1);
}

menu-drop::part(list right) {
  transform-origin: right calc(var(--list-position-y) * -1);
}

menu-drop::part(list main) {
  --list-position-x: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transform: scaleY(0.5);
  transform-origin: center top;
}

menu-drop::part(list open) {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition-duration: 130ms;
}

menu-drop::part(option) {
  --option-color-interact: #ffffff;
  text-decoration: none;
  --option-background-color-interact: #0763d5bf;
  --sub-list-option-color-interact: #ffffff;
  --sub-list-option-background-color-interact: #ffffff1c;
  border: 1px solid transparent;
}

/* -- For some reason the :focus-visible styles are showing up by default when the page starts up, so I disabled the focus outline for now. --
menu-drop::part(option):focus-visible {
  border-color: #c0c0c0;
}
*/

menu-drop[data-select]::part(option)::before {
  content: "";
  height: var(--option-selected-icon-width);
  background: currentColor;
  -webkit-mask: var(--option-selected-icon-mask);
  mask: var(--option-selected-icon-mask);
  --option-selected-icon-mask: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22m63.346%20191.15%20192.72%20192.72-63.402%2063.402-192.72-192.72z%22%2F%3E%0A%20%20%3Cpath%20d%3D%22m129.5%20383.87%20319.15-319.15%2063.402%2063.402-319.15%20319.15z%22%2F%3E%0A%3C%2Fsvg%3E");
  transform: translateX(-50%) scale(2);
  transform-origin: center;
}

menu-drop::part(icon) {
  width: 16px;
  height: 16px;
  /* aspect-ratio: 1 / 1; */
}

menu-drop::part(icon invert) {
  filter: invert(1) hue-rotate(180deg);
}

menu-drop::part(icon rounded) {
  border-radius: 3px;
}

menu-drop::part(shortcut) {
  font-size: 12px;
  --shortcut-opacity: 0.5;
}

menu-drop::part(divider) {
  opacity: 0.6;
}

.select {
  margin: calc(var(--select-padding) * -1);
  padding: var(--select-padding);
  --select-padding: 4px;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.select label {
  display: flex;
  align-items: center;
  transition: color var(--transition-fast);
}

.select:where(:hover,:active,:focus-within) label,
.select:where(:hover,:active,:focus-within) menu-drop::part(opener) {
  color: #ffffff;
}

.select menu-drop::part(opener) {
  padding: 2px 8px;
  min-width: 74px;
  background: #444444;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 1px 2px #00000028;
  transition: var(--transition-fast);
  transition-property: color, background-color, border-color, border-radius;
}

.select:hover menu-drop::part(opener) {
  background: #4f4f4f;
}

.select menu-drop::part(opener):where(:hover,:active,:focus-visible),
.select:focus-within menu-drop::part(opener),
.select menu-drop[data-open]::part(opener) {
  color: #ffffff;
  background: #4f4f4f;
}

.select menu-drop::part(opener):focus-visible {
  border-color: #c0c0c0;
}

.select menu-drop[data-open]::part(opener) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

:root.apple-home-screen #file_menu::part(create-window-option) {
  display: none;
}

#install_button, #theme_button {
  padding: 3px 8px;
}

:root:not(.install-prompt-available) #settings_menu::part(install-option),
:root:not(.install-prompt-available) #install_option,
:root:not(.install-prompt-available) #install_button {
  display: none;
}

:root:not(.service-worker-activated) #settings_menu::part(clear-site-caches-option),
:root:not(.service-worker-activated) #clear_site_caches_button {
  display: none;
}

#preview_base_card input[type="url"] {
  box-sizing: content-box;
  min-width: calc(var(--placeholder-count,0) * 1ch);
  max-width: min(40ch,75vw);
  width: calc(var(--input-count,0) * 1ch);
}

#uuid_generator_card input[type="text"] {
  width: 220px;
  cursor: grab;
}