main {
  padding: 0 var(--safe-area-inset-right) var(--safe-area-inset-bottom) var(--safe-area-inset-left);
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  --workspace-background: #222222;
  --workspace-accent: #ffffff24;
  --scaler-size: 16px;
  --preview-border-color: #181818;
  --main-transition-duration: 400ms;
}